/****************************************************************************base styles*/
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background: url('../images/readerman.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #141510;
    position: relative;
    margin: 0;
    overflow: hidden;
}
#board {
    height: 532px;
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(16, 15, 15, 0.4);
    border: 10px solid rgba(16, 15, 15, 0.4);
}
.card {
    height: 128px;
    width: 90px;
    margin: 7px;
}
h2{
    color: rgb(190, 189, 189);
}

/********************************************************************************sparkle*/
@keyframes sparkle {
    50% {
      opacity: 0.4;
      transform: scale(0.5);
      box-shadow: 0px 0px 10px 5px #ffffff5e;
    }
    50% {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0px 0px 10px 5px white;
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
      box-shadow: 0px 0px 10px 5px #ffffff5e;
    }
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: sparkle 4s infinite alternate;
  }
/****************************************************************************breakpoints*/
  @media screen and (max-width: 600px) {
    /* CSS styles for small devices */
    .container {
        max-width: 768px;
        margin: 0 auto;
      }
      #board {
        height: 732px;
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(16, 15, 15, 0.4);
        border: 10px solid rgba(16, 15, 15, 0.4);
    }
    .card {
        height: 89px;
        width: 72px;
        margin: 7px;
    }
    body {
    background-size: 100%;
}
  }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* CSS styles for medium devices */
    .container {
        max-width: 768px;
        margin: 0 auto;
      }
      #board {
        height: 732px;
        width: 450px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(16, 15, 15, 0.4);
        border: 10px solid rgba(16, 15, 15, 0.4);
    }
    .card {
        height: 89px;
        width: 72px;
        margin: 7px;
}
  }
body {
    background-size: contain;
  }
  @media screen and (min-width: 1025px) {
    /* CSS styles for large devices */
    body {
        background-size: cover;
      }
  }